body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 32px;
}

.gameExplanation {
  font-size: 20px;
  width: 575px;
  text-align: justify;
  margin-top: 32px;
}

.gameWrapper {
  width: 575px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.orientation {
  font-size: 20px;
}

.shot {
  width: 80px;
  height: 40px;
  font-size: 20px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 8px;
  outline: none;
}

.buttonSend,
.buttonReset {
  font-size: 20px;
  width: 160px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background-color: #a9a9a9;
}

.buttonReset {
  width: 180px;
  margin-top: 32px;
}

.buttonSend:hover,
.buttonReset:hover {
  cursor: pointer;
  background-color: #a9a9a9d9;
  transition-duration: 300ms;
}

.buttonSend:disabled {
  cursor: not-allowed;
}

.previousShotWrapper,
.checkerShot,
.checkerShotError {
  margin-top: 32px;
  width: 575px;
  font-size: 20px;
}

.checkerShot,
.checkerShotError {
  background-color: #6ff76f;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkerShotError {
  background-color: #ff0000bb;
}
